<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/master.css">
    <title>게시판 연습</title>
</head>
<body>
    <%- include('nav')%>
    <%- body%> 
</body>
</html>